* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Lato;
}

li {
  list-style: none;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-around;
}

.header-nav > * {
  flex-shrink: 1;
  flex-grow: 1;
}
