* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

body {
  margin: 0;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: Lato;
}
p {
  font-weight: 400;
}

.paragraph-centered {
  text-align: center;
}

.LichtBlick-logo {
  position: relative;
  top: 30px;
}

li {
  list-style: none;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-around;
}

.header-nav > * {
  flex-shrink: 1;
  flex-grow: 1;
}

.Stromheizung {
  background-color: violet;
  padding: 3.5rem 1rem;
  position: relative;
}

.wärmestrom {
  all: unset;
  border: 2px solid black;
  border-radius: 0.75rem;
  padding: 0.75rem;
  font-weight: 700;
  position: absolute;
  left: 25%;
}

.e-mobilität {
  padding: 3.5 1rem;
  margin-left: 2.2rem;
  margin-bottom: 2rem;
}

img {
  border-radius: 2% 2% 0 0;
}

.gray-border {
  border: 3px solid gray;
  border-radius: 2%;
  width: 75vw;
  height: 75vh;
  position: absolute;
  left: 10%;
}

.teaser_1 {
  position: relative;
  right: 0.5rem;
  z-index: -1;
}
